
body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}
h1{
    font-family: Abril Fatface, serif;
}
h3{
    font-family: Abril Fatface, serif;
}
h2{
    font-family: Abril Fatface, serif; 
}
.colo{
    color: #ff0000;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.about-section {
    background: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
}

.about-section h2 {
    font-size: 2.5rem;
    color: #222;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.feature {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 45%;
    min-width: 300px;
    transition: transform 0.3s;
}

.feature:hover {
    transform: translateY(-5px);
}

.feature h3 {
    font-size: 1.5rem;
    color: #ff0000;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1rem;
    color: #555;
}

