
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}


.header {
    background-color: #ff4d4d;
    color: white;
    text-align: center;
    padding: 40px 0;
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
}

.header .subheading {
    font-size: 1.2em;
    font-style: italic;
}


.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}


section {
    margin-bottom: 30px;
}

h2 {
    color: #ff4d4d;
    font-size: 1.8em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
}


.thumbnail-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border: 2px solid #ff4d4d;
}


.footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
